# cloud-config

runcmd:

# terraform cli
 - echo ********************************
 - echo Including the Terraform CLI
 - echo ********************************
 - wget https://releases.hashicorp.com/terraform/${terraform_version}/terraform_${terraform_version}_linux_amd64.zip
 - unzip -u terraform_${terraform_version}_linux_amd64.zip -d /usr/bin

