# cloud-config

runcmd:

# packer cli
 - echo ********************************
 - echo Including the Packer CLI
 - echo ********************************
 - yum install -y yum-utils
 - yum-config-manager --add-repo https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo
 - yum -y install packer
