# cloud-config
runcmd:

 # dotnetsdk
 - echo ********************************
 - echo Including dotnetsdk
 - echo ********************************
  
 - wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
 - sudo dpkg -i packages-microsoft-prod.deb
 - rm packages-microsoft-prod.deb
 - sudo apt-get update && sudo apt-get install -y dotnet-sdk-6.0
 - echo "DOTNET_CLI_HOME=/tmp" >> /build/myagent/.env